<h1>Editing random_sentence</h1>

<%= render 'form' %>

<%= link_to 'Show', [@random_sentence.student_level, @random_sentence] %> |
<%= link_to 'Back', student_level_random_sentences_path(@random_sentence.student_level) %>
